
* {
    box-sizing: border-box;
  }


/* Universal Styles */
html {
    font-size: 16px;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f2ffe7;  
    text-align: center;  
}

h1 {
    padding: 20px;
    position: relative;
    top: 70px;
    z-index: 5;
    font-size: 40px;
    background-color: #f2ffe7;
    display: inline-block;
}

h2 {
    text-align: right;
    position: relative;
    top: -140px;
    right: 20px;
    color: white;
}


.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    background-color: #a2f4fff0;
    padding: 20px, 0;
}

.header li {
    display: inline-block;
    padding: 10px 200px;
    font-size: 26px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Lugrasimo", 'Times New Roman', Times, serif;
}

img {
    width: 32%;
    height: auto;
}

#Banner_img {
    width: 100%;
    position: relative;
    bottom: 60px;
}